
#home {
    height: 20vh;
}

.home {
    height: 70vh;
 
    background-image: url('/img/back_edited1.jpg');
    background-size: 100% 100%; 

    position: relative;

    &__h1 {
        color: $color1;
        font-size: 7vh;   

        position: absolute;
        bottom: 15%;
        left: 10%;
    }

    &__link {
        font-size: 7vh;
        text-decoration: none;
        color: $color3;        
        margin-left: 1vw;
        margin-right: 0.1em;
        border-bottom: 0.1em solid $color1;

        &:hover {
        color: rgb(64, 146, 146);

        }
    }
}