
$color1: #F2F2F2; //body background
$color2: #083F4C; //nav
// $color3: #5CBE90; //a:hover
$color3: rgb(68, 182, 182); //a:hover


$h2height: 2.5em;


$box-shadow: 9px 6px 25px -1px rgba(133,131,133,0.5);