html{
    font-family: 'Alegreya Sans', sans-serif;
    box-sizing: border-box;

   
}

*{
    margin: 0;
}


body{
    display: flex;
    flex-direction: column;

    background-color: #F2F2F2;
}

/* každá section obdélníček stránky je flex */
section{
    display: flex;
}

/* přesahující */


/* sekce navigator ID=NAVIGATOR */
.navigator{
    /* border: 3px solid red; */
    margin-top: 2em;
    justify-content: flex-end;
    position: fixed;
    width: 100vw;
    background-color: rgba(242, 242, 242, 0.85);

  
}


img.logo{
    margin: 0px auto 0 5em;
    width: 4em;
    height: 4em;

    border: 2px solid rgb(177, 177, 177);
    border-radius: 50%;
    box-shadow: 9px 6px 25px -1px rgba(133,131,133,0.5);
    
}


nav{
    border: 1px solid;
    display: flex;
    justify-content: space-around;
    width: 50vw;
    margin-right: 10em;
    /* důležitá barva!!!!!!!!!!!!!!!! */
    background-color: #083F4C;          


}

nav a{
    display: flex;
    /* border: 1px solid; */ 
    flex-grow: 1;
    text-align: center;
    text-decoration: none;
}

nav a:hover{
    /* důležitá barva!!!!!!!!!!!!!!!!! */
 background-color: #5CBE90;
}

nav p{
    margin: auto;
    width: fit-content;
    height: fit-content;
    color: whitesmoke;
    font-size: 1.3em;
 }


 /* SEKCE NADPIS H1 ID=HOME */

 .home{
     margin-top: 10em;
     height: 50vh;
     background-color: whitesmoke;

    background-image: url(https://cdn.pixabay.com/photo/2015/03/26/09/47/sky-690293_960_720.jpg);
    background-size: 100vw 50vh; 
 
    display: flex;
    justify-content: flex-end;
    align-items: center;

 }

 h1{
   /* background-color: yellow; */
     color: whitesmoke;
     height:fit-content;
     font-size: 2em;

    margin-right: 6em;
    margin-top: 4em;
    margin-bottom: 1em;
 }


 /* zvýraznění jména */
 h1 span{
     color: #5CBE90;
     font-weight: 900;
     font-size: 1.2em;
     border-bottom: 0.1em solid #5CBE90;
     margin-left: 0.3em;
 }

 /* SEKCE TEXT POD NADPISEM */

 .text{
     height: 30vh;

     justify-content: center;
     align-items: center;
     

 }

 .text p{
     height: fit-content;
     width: 70vw;
     font-size: 1.5em;
     text-align: center;
 }



 /* BLACK SECTION */

 .blacksection{
     /* same color for FIND ME HERE !!!!!!!!!!!!!!!!!!!!!!!!!!!!! */
     background-color: rgb(4, 36, 43);
    justify-content: space-around;
    align-items: flex-end;
    position: relative;
    z-index: -1;

    height: 35vh;
 }

 .blacksection > div{
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    /* border: 2px solid white; */
    height: 25vh;
    width: 15vw;
}

 .whitecircle{
     width: 20vh;
     height: 20vh;
     background-color: #F2F2F2;
     border-radius: 50%;
     
     position: absolute;

     top: -13vh;
     /* margin-bottom: 1em; */

     z-index: -1;
     
 }


 .blacksection h4{
     width: fit-content;
     color: #5CBE90;
     font-size: 1.7em;

     padding-bottom: 1em;

 }

 .blacksection p{
    width: 80%;
    color: whitesmoke;
    text-align: center;

    padding-bottom: 1em;
 }

 /* SECTION MY SKILLS */

 .skills{
     flex-direction: column;
     align-items: center;
     justify-content: space-around;

     /* height: 70vh; */
 }

/* h2 bude všude stejná */

h2{
color: #5CBE90;
width: fit-content;
font-size: 3.5em;
margin-top: 9rem;
margin-bottom: 0.7em;
}



.skills > div{
    /* border: 2px solid red; */
    display: flex;

    width: 70vw;
    min-height: 5vh;

    margin: 1vh 0;
}



.skills > div div:nth-child(1){
    background-color: rgb(4, 36, 43);
    color: whitesmoke;
    font-size: 1.5em;
    text-align: center;

    
    width: 10vw;
}

.skills > div div:nth-child(1) p{
    height: fit-content;
    width: fit-content;
    margin: auto;
}



.percentage{
    font-size: 1.5em;
    color: rgb(4, 36, 43);

    width: fit-content;
    height: fit-content;

    margin-right: 1vw;
}

.skills > div div:nth-child(3){
 display: flex;
 justify-content: flex-end;
}
/* ------------------------------------------------------- */
/* procenta: na zelenou a sedou cast zbývá 60vw takže pro 80% zelené časti 60*0.8=48vw atd... */

.htmlbox div:nth-child(2){
    width:48vw;
    background-color: #5CBE90;

}

.htmlbox div:nth-child(3){
    width:12vw;
    background-color: rgb(190, 190, 190);
}


.cssbox div:nth-child(2){
    width:48vw;
    background-color: #5CBE90;

}

.cssbox div:nth-child(3){
    width:12vw;
    background-color: rgb(190, 190, 190);
}


.jsbox div:nth-child(2){
    width:36vw;
    background-color: #5CBE90;

}

.jsbox div:nth-child(3){
    width:24vw;
    background-color: rgb(190, 190, 190);
}


.reactbox div:nth-child(2){
    width:33vw;
    background-color: #5CBE90;

}

.reactbox div:nth-child(3){
    width:27vw;
    background-color: rgb(190, 190, 190);
}



.jquerybox div:nth-child(2){
    width:31.8vw;
    background-color: #5CBE90;

}

.jquerybox div:nth-child(3){
    width:28.2vw;
    background-color: rgb(190, 190, 190);
}


.phpbox div:nth-child(2){
    width:18vw;
    background-color: #5CBE90;

}

.phpbox div:nth-child(3){
    width:42vw;
    background-color: rgb(190, 190, 190);
}


.laravelbox div:nth-child(2){
    width:12vw;
    background-color: #5CBE90;

}

.laravelbox div:nth-child(3){
    width:48vw;
    background-color: rgb(190, 190, 190);
}


.uxbox div:nth-child(2){
    width:12vw;
    background-color: #5CBE90;

}

.uxbox div:nth-child(3){
    width:48vw;
    background-color: rgb(190, 190, 190);
}

/* ------------------------------------------------------------------ */

/* SECTION PORTFOLIO */

.portfolio{
    display: flex;
    flex-direction: column;
    align-items: center;


    /* margin-top: 9rem; */
    background-color: #5CBE90;

    /* border: 2px solid yellow; */
}

.whitebackground{
    width: 100vw;
    height: 12rem;

    background-color: #F2F2F2;
}

.portfolio h2{
    /* background-color: #5CBE90 ; */
    color: whitesmoke;

    margin: 4rem;
    
}


.portdiv{
    /* border: 3px solid black; */

    display: flex;

    justify-content: space-around;


    flex-wrap: wrap;
    align-content: space-around;

    height: 100vh;
    
}

.portdiv>div{

    /* border: 3px solid red; */

    width: 25vw;
    height: 40vh;

    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: space-around;

    background-color: #F2F2F2 ;

    font-size: 1.5em;
}



.portfolio p{
    width: 90%;
    text-align: center;
    font-size: 1rem;
}

.portfolio img{
    width: 25vw;
    height: 50%;
}



/* SECTION ABOUT ME */

.about{
 display: flex;
 flex-direction: column;
 align-items: center;

}

.about>div{
    display: flex;
    justify-content: space-around;
    width: 100vw;
    height: fit-content;

    /* border: 2px solid red; */
}


.about img{
    width: 20vw;
    height: 20vw;

    border-radius: 50%;

    border: 0.3rem solid rgb(4, 36, 43);

    box-shadow: 9px 6px 25px -1px rgba(133,131,133,0.5);

    margin-bottom: 3vh;

}



.about>div>div{
    /* border: 2px solid green; */

    width: 45vw;

    display: flex;
    flex-direction: column;
    justify-content: space-around;
    align-items: center;
}

.divtext{
    /* border: 2px solid green; */

    height: 70vh;

}

.divtext p{
    font-size: 1.3em;

    width: 30vw;

    margin: 1em;
}

.bold{
    font-weight: bolder;
    margin-bottom: 5vh;
}



.about button{
    font-size: 1.5em;
    background-color: rgb(4, 36, 43);
    color: whitesmoke;

    /* border-radius: 10%; */

    width: 20vw;
    height: 7vh;
}

.about button:hover{
    background-color: #5CBE90;

}


/* FIND ME HERE */

.find{
    background-color: rgb(4, 36, 43);

    display: flex;
    flex-direction: column;
    justify-content: space-around;
    align-items: center;   


    height: 50vh;

    margin-top: 10vh;
}

.find h2{
    /* border: 4px solid; */
    margin: 0; 
}


.social {
    display: flex;
    justify-content: space-between;

    /* border: 4px solid; */

    width: 80vw;
}


.git{
    height: 25vh;
    width: 25vh;
}

.git img:hover{
    border: 2px solid whitesmoke;
    border-radius: 50%;
}





.linkedin{
    height: 25vh;
    width: 25vh;
}


.linkedin:hover{
    border: 2px solid whitesmoke;
    border-radius: 50%;
}



.instagram{
    height: 25vh;
    width: 25vh;
}


.instagram:hover{
    border: 2px solid whitesmoke;
    border-radius: 50%;}


    /* CONTACT ME */

.contact{
    /* border: 3px solid pink;  */
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;

    /* height: 100vh; */

    background-color: #5CBE90;
}

.contact h2{
    /* border: 3px solid pink;  */
    color: whitesmoke;
}

form{
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    align-items: center;

    /* border: 3px solid pink;  */

    width: 100vw;

    font-size: 2em;
    color: rgb(4, 36, 43);

}


.personalstuff{
    /* border: 3px solid pink;  */
    width: 100vw;
    height: 20vh;


    display: flex;
    justify-content: center;
    flex-wrap: wrap;

}


.personalstuff div{
    width: 45vw;

    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
    /* border: 2px solid green; */
}


.personalstuff input{
    border: none;
    border-bottom:2px solid  rgba(133,131,133,0.5);

    margin-left: 1vw;
    background-color: #5CBE90;

    font-size: 1.5rem;
}



.message{
    /* border: 3px solid pink;  */
    width: 100vw;

    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;

    margin: 10vh;

}

textarea{
    background-color: #F2F2F2;
    font-size: 1.5rem;
    color: rgb(4, 36, 43);

    margin: 3vh;
}


.submit {
    width: 20em;
    /* height: 3em; */

    background-color: rgb(4, 36, 43);
    color: whitesmoke;
    font-size: 1.5rem;
    border-radius: 30em;

    margin-bottom: 7vh;


}







    /* FOOTER */

    footer{
        display: flex;
        flex-direction: column;
        justify-content: space-between;
        align-items: center;

        /* border: 3px solid pink; */
    }

    footer>div:nth-child(1){
        /* border: 3px solid red; */

        display: flex;
        justify-content: space-between;
        align-items: center;

        width: 90vw;

        margin-top: 10vh;
    }

    .greendiv{
        width: 25vw;
        height: 1.3em;

        background-color: #5CBE90;

        margin: 2vw;
    
    }

    footer h2{
        margin: 0;

        color: rgb(4, 36, 43);
        letter-spacing: 2px;
    }



    .socialfooter{

        /* border: 3px solid red; */

        display: flex;
        justify-content: space-around;
        align-items: center;

        width: 50vw;
        height: 20vh;

        margin: 5vh;

    }


    .git2{
        height: 10vh;
        width: 10vh;
    }
    
    .git2 img:hover{
        height: 15vh;
        width: 15vh;
  
    }
    
    
    
    
    
    .linkedin2{
        height: 10vh;
        width: 10vh;    }
    
    
    .linkedin2:hover{
        height: 15vh;
        width: 15vh;
    }
    
    
    
    .instagram2{
        height: 10vh;
        width: 10vh;    }
    
    
    .instagram2:hover{
        height: 15vh;
        width: 15vh;
    }
    






  